<!-- PAGE HEADER -->
<header id="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-6 m-auto text-center">
        <h1>Deze App</h1>
        <p>Een eenvoudige single page toepassing ontwikkeld met Angular, bootstrap, fontawesome en ngx-translate
          voor meertaligheid! </p>
      </div>
    </div>
  </div>
</header>

<!-- ABOUT SECTION -->
<section id="about" class="py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>Vsoft Open Source</h1>
        <p>Op onze github pagina kan U of uw webontwikkelaar de broncode van deze toepassing downloaden, bestuderen en
          wijzigen voor uw eigen organisatie of bedrijfsactiviteit!</p>
        <p>Voor de mailfunctie kunnen bestaande klanten op eenvoudig verzoek en zonder meerkost een persoonlijke sleutel
          bekomen voor
          gebruik van onze mailserver. Voor Service plus contractanten is marintegraal dotnet core beschikbaar als
          download en
          installatie op eigen server. Andere contractanten kunnen terecht binnen onze hosting aanbiedingen.</p>
        <a href="https://github.com/openSource4Brokers/vsoft-ngbootstrap" target="_blank"
          class="btn btn-danger btn-lg mr-1">Broncode op Github</a>
        <a routerLink="/corona" class="btn btn-danger btn-lg">Corona API</a>
      </div>
      <div class="col-md-6">
        <img src="https://source.unsplash.com/random/700x700/?accounting" alt=""
          class="img-fluid rounded-circle d-none d-md-block about-img">
      </div>
    </div>
  </div>
</section>