.carousel-item {
  height: 450px;
}

/* #video-play {
  position: relative;
  min-height: 200px;
  background: url("assets/img/media.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0 -300px;
  text-align: center;
  color: #fff;
}

#video-play a {
  color: #fff;
} */
