<!-- CONTACT SECTION -->
<section id="contact" class="py-3">
    <div class="container">
        <div class="row">

            <div class="col-md-8">
                <div class="card p-4">
                    <div class="card-body">
                        <h3>Country Numbers</h3>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <select class="custom-select" aria-describedby="button-countrydetail" #thisCountry>
                                        <option *ngFor="let country of coronaCountries">
                                            {{country.country}}
                                        </option>
                                    </select>
                                    <div class="input-group-append">
                                        <button (click)="getCountryDetails(thisCountry.selectedIndex)"
                                            class="btn btn-danger" type="button" id="button-countrydetail">Load
                                            Data</button>
                                    </div>
                                </div>

                            </div>
                            <div class="py-3" *ngIf="coronaCountry">
                                <p>
                                    cases: {{ coronaCountry.cases }}
                                </p>                                
                                <p>
                                    deaths: {{ coronaCountry.deaths }}
                                </p>                                
                                <p>
                                    recovered: {{ coronaCountry.recovered }}
                                </p>                                
                                <p>
                                    active: {{ coronaCountry.active }}
                                </p>
                                <p>
                                    critical: {{ coronaCountry.critical }}
                                </p>                                
                                <p>
                                    cases per million: {{ coronaCountry.casesPerOneMillion }}
                                </p>
                                <p>
                                    deaths per million: {{ coronaCountry.deathsPerOneMillion }}
                                </p>
                                <p>
                                    cases today: {{ coronaCountry.todayCases }}
                                </p>
                                <p>
                                    deaths today: {{ coronaCountry.todayDeaths }}
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card p-4">
                    <div class="card-body">
                        <h3>Global numbers</h3>
                        <div class="form-group">
                            <button class="btn btn-danger" (click)="getGlobalNumbers()">Load Data</button>
                            <div class="py-3" *ngIf="coronaGlobalNumbers">
                                <p>
                                    cases: {{ coronaGlobalNumbers.cases }}
                                </p>
                                <p>
                                    deaths: {{ coronaGlobalNumbers.deaths }}
                                </p>
                                <p>
                                    recovered: {{ coronaGlobalNumbers.recovered }}
                                </p>
                                <p>
                                    latest updated: {{ lastUpdate }}
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>